[Desktop Entry]
Version=1.0
Type=Application
Name=Vim (Terminal)
GenericName=Text Editor
Comment=Edit text files in Vim
Exec=vim-terminal-texteditor %f
TryExec=ghostty
Icon=utilities-terminal
Terminal=false
StartupNotify=false
Categories=Utility;TextEditor;
MimeType=text/plain;
NoDisplay=false
MimeType=text/plain;
